table {
  min-width: 500px;
  border-collapse: collapse;
  border: 1px solid rgb(40, 44, 52);
  margin: 50px auto 0px auto;
}

td {
  border-top: 1px solid rgb(40, 44, 52);
}

th,td {
  padding:10px;
  text-align: center;
}
