.albums {
  margin: 10px auto 0 auto;
  max-width: 700px;
}

li {
  cursor: pointer;
}

table {
  min-width: 500px;
  border-collapse: collapse;
  border: 1px solid rgb(40, 44, 52);
  margin: 20px auto 20px auto;
}

td {
  border-top: 1px solid rgb(40, 44, 52);
}

th,td {
  padding:10px;
  text-align: center;
}

.detail_btn {
  color: white;
  background-color: rgb(97, 218, 251);
  border: 1px solid rgb(97, 218, 251);
  border-radius: 5px;
}
